/* General styles */
.chatroom-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  background-color: #e5ddd5;
}

.chatroom-header {
  text-align: center;
  padding: 10px;
  background-color: #ffffff;
  color: white;
  font-size: 24px;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #efeae2;
}

.messages div {
  margin: 5px 0;
}

.message {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  align-self: flex-start;
  background-color: #ffffff;
}

.message.sent {
  align-self: flex-end;
  background-color: #007bff;
  color: black;
}

.message.received {
  background-color: #ffffff;
  color: black;
}

.message strong {
  margin-bottom: 5px;
}

.message-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}

.message-input input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 16px;
}

.message-input label, .message-input button {
  margin-left: 10px; /* Space between icons and text input */
  cursor: pointer;
}

.message-input button img, .message-input label img {
  width: 24px;
  height: 24px;
}

.file-preview {
  margin-top: 5px;
}

.file-list {
  display: none; /* Hide the file list for a cleaner look */
}
